<form class="bg-blue-500 h-96 w-96 rounded shadow shadow-gray-500 flex justify-center items-center flex-col mt-16">
  <h1 class="text-2xl text-white mb-3">Contact-us</h1>
  <div class="bg-red-400 py-2 rounded m-3 p-2">
    <input class="m-3 p-2 w-[340px] rounded outline-none" type="text" placeholder="Digite o seu nome:" required>
  </div>

  <div class="bg-red-400 py-2 rounded m-3 p-2">
    <input class="m-3 p-2 w-[340px] rounded outline-none" type="email" placeholder="Digite o seu email:" required>
  </div>

  <div class="bg-white m-3 py-4 px-16 rounded flex justify-center items-center">
    <input class=" bg-red-400 py-2 w-56 text-white hover:text-gray-500 hover:bg-red-300 duration-1000 rounded animate-pulse" type="submit" value="Enviar">
  </div>
  </form>
