button {
  display: none;
}

.mobile-menu {
  display: none;
  transition: all .4s linear;
}

@media screen and (max-width: 730px) {
  button {
    display: block;
  }
  .lista-menu {
    display: none;
  }
  .mobile-menu {
   position: absolute;
   top: 80px;
   display: block;
   transition: all .4s linear;
   opacity: 1;
  }
}
