<section class="bg-sky-100">
  <div
    class="grid grid-cols-4 justify-center items-center container-center mt-20"
  >
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img class="rounded" src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
    <div
      class="box-cards flex justify-center items-center flex-col m-2 py-3 bg-blue-500 rounded shadow border border-red-300"
    >
      <h3 class="title">Titulo</h3>
      <img src="https://via.placeholder.com/150" alt="cards" />
      <p class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, modi!
      </p>
      <button class="btn-compra">Comprar</button>
    </div>
  </div>
</section>
